// создаем добавляем стили кнокпи вверх
.back__to__top {
  position: fixed;
  bottom: 40px;
  right: 20px;
  z-index: 9999;
  font-size: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: #e91e63;
  color: white;
  opacity: 0.8;
  cursor: pointer;
  border-radius: 50%;
  display: none;
}

.back__to__top:hover {
  opacity: 1;
}
// показываем кнопку при выполнении скрипта

.back__to__top-show {
  display: block;
}
