{{!-- {{#each}} --}}
<div class="bg-image">
    <header>
        <div class="container">
            <div class="header-section">
                <nav class=" z-depth-0 grey lighten-4">
                    <div class="nav-wrapper indigo">
                        <a href="#" class="brand-logo">
                            <i class="material-icons">local_movies</i>
                            {{!-- <img src="" style="width: 100px; height: 50px; margin-top: 10px;"> --}}
                            <span class="logo-name">Filmoteka</span>
                        </a>
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li class="logged-in">
                                <a href="#" class="grey-text modal-trigger" data-target="modal-account">Account</a>
                            </li>
                            <li class="logged-in">
                                <a href="#" class="grey-text" id="logout">Logout</a>
                            </li>
                            <li class="logged-in">
                                <a href="#" class="grey-text modal-trigger" data-target="modal-create">Create Guide</a>
                            </li>
                            <li class="logged-out">
                                <a href="#" class="grey-text modal-trigger" data-target="modal-login">Login</a>
                            </li>
                            <li class="logged-out">
                                <a href="#" class="grey-text modal-trigger" data-target="modal-signup">Sign up</a>
                            </li>
                            <li class="">
                                <a href="#" class="grey-text modal-trigger">HOME</a>
                            </li>
                            <li class="">
                                <a href="#" class="grey-text modal-trigger">MY LIBRARY</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
</div>
{{!-- {{/each}} --}}