<div class=" container">
    <nav class="transparent">
        <div class="nav-wrapper">
            <a href="#" class="">
                <span class="logo-title logo__js"><i class="fa fa-film" aria-hidden="true"></i>Movie Buddies</span>
            </a>
            <a href="#" class="right sidenav-trigger" data-target="mobile-links">
                <i class="hide-on-large material-icons">menu</i>
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down  navigation__js">
                <li class="home-page-link__js item " style="display: none;">
                    <a class="current" href="#">Home</a>
                </li>

                <li class="logged-out__js" style="display: none;">
                    <a href="#" class="modal-trigger" data-target="modal-login">Login</a>
                </li>
                <li class="logged-out__js" style="display: none;">
                    <a href="#" class="modal-trigger" data-target="modal-signup">Sign up</a>
                </li>

                <li class="logged-in__js library-page-link__js item" style="display: none;">
                    <a href="#">My Library</a>
                </li>
                <li class="logged-in__js buddy-page-link__js item" style="display: none;">
                    <a href="#">Find Buddy</a>
                </li>
                <li class="logged-in__js" style="display: none;">
                    <a href="#" class="modal-trigger" data-target="modal-account">Account</a>
                </li>
                <li class="logged-in__js" style="display: none;">
                    <a href="#" class="" id="logout">Logout</a>
                </li>
                <li>
                    <a href="#" data-action-togle>
                        <i class="material-icons right">brightness_6</i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="row search-form__js">
            <form id="search-form" class="col s12 m8 offset-m2 search-form">
                <div class="input-field">
                    <input type="text" name="query" id="search" class="input" autocomplete="off" />
                    <label for="search" class="rigth label-text">Let's find a movie for you!</label>
                    {{!-- <a class="btn-floating btn-large pulse search-btn-click__js" type="submit"> --}}
                        <i class="material-icons prefix">search</i>
                        {{!-- </a> --}}
                </div>
            </form>
            <p class="col s12 center-align red-text text-darken-4 search-error__js">
                No matches found. Try again!
            </p>
        </div>
        <div class="row tabs__js hide tabs-wrapper">
            <div class="col s12 m6 offset-m3">
                <ul class="tabs">
                    <li class="tab col s4"><a href="#watched" class="">WATCHED</a></li>
                    <li class="tab col s4"><a href="#queue" class="">QUEUE</a></li>
                    <li class="tab col s4"><a href="#favourite" class="">FAVORITE</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<ul class="sidenav" id="mobile-links">
    <li class="home-page-link-mobile__js" style="">
        <a href="#"><i class="material-icons">home</i><span>Home</span></a>
    </li>

    <li class="logged-out__js" style="">
        <a href="#" class="modal-trigger" data-target="modal-login"><i
                class="material-icons">login</i><span>Login</span></a>
    </li>
    <li class="logged-out__js" style="">
        <a href="#" class="modal-trigger" data-target="modal-signup"><i class="material-icons">person_add</i><span>Sign
                up</span></a>
    </li>

    <li class="logged-in__js library-page-link-mobile__js" style="">
        <a href="#"><i class="material-icons">movie</i><span>My Library</span></a>
    </li>
    <li class="logged-in__js buddy-page-link-mobile__js" style="">
        <a href="#"><i class="material-icons">record_voice_over</i><span>Find
                Buddy</span></a>
    </li>
    <li class="logged-in__js" style="">
        <a href="#" class="modal-trigger" data-target="modal-account"><i
                class="material-icons">account_circle</i><span>Account</span></a>
    </li>
    <li class="logged-in__js" style="">
        <a href="#" id="logoutMobile__js"><i class="material-icons">directions_run</i><span>Logout</span></a>
    </li>
</ul>

<div id="modal-signup" class="modal">
    <div class="modal-content">
        <h4>Sign up</h4>
        <br />
        <div class="input-field center-align">
            <a class="github-signin__js">
                <span>Sign in with GitHub</span></a>
            <br />
            <span>OR</span>

        </div>
        <form id="signup-form">
            <div class="input-field">
                <input type="text" id="signup-name" required />
                <label for="signup-name">Enter your name</label>
            </div>
            <div class="input-field">
                <p>
                    <label>
                        <input type="checkbox" class="filled-in" id="checkbox__js" />
                        <span>Search Buddy by Telegram</span>
                    </label>
                </p>
                <input type="text" value="@" id="signup-telegram-name__js" disabled />
                <label for="signup-telegram-name"></label>

            </div>
            <div class="input-field">
                <input type="email" id="signup-email" required />
                <label for="signup-email">Email address</label>
            </div>
            <div class="input-field">
                <input type="password" id="signup-password" required />
                <label for="signup-password">Choose password</label>
            </div>
            <button class="btn yellow darken-2 z-depth-0">Sign up</button>
        </form>
    </div>
</div>

<div id="modal-login" class="modal">
    <div class="modal-content">
        <h4>Login</h4>
        <br />
        <div class="input-field center-align">
            <a class="github-login__js">
                <span>Log in with GitHub</span></a>
            <br />
            <span>OR</span>
        </div>
        <form id="login-form">
            <div class="input-field">
                <i class="material-icons prefix">email</i>
                <input type="email" id="login-email" required />
                <label for="login-email">Email address</label>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">vpn_key</i>
                <input type="password" id="login-password" required />
                <label for="login-password">Your password</label>
            </div>
            <button class="btn z-depth-0 login-button">Login</button>
        </form>
    </div>
</div>

<div id="modal-account" class="modal">
    <div class="modal-content center-align">
        <h4>Account details</h4>
        <br />
        <div class="account-details__js"></div>
    </div>
</div>