<div class="container">
  {{!-- <div class="row">
    <form id="search-form" class="col s12 m8 offset-m2 search-form">
      <div class="input-field">
        <input type="text" name="query" id="search" class="input" autocomplete="off" />
        <label for="search" class="rigth label-text">Let's find a movie for you!</label>
        <i class="material-icons prefix">search</i>
      </div>
    </form>
    <p class="col s12 center-align red-text text-darken-4 search-error__js">
      No matches found. Try again!
    </p>
  </div> --}}

  <ul id="home-gallery" class="row home-gallery-list home-gallery-list__js"></ul>

  <div class="paginator"></div>
</div>