<div class="container">
  <!-- Preloader -->
  <div class="preloader">
    <svg class="preloader__image" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
      <path fill="currentColor"
        d="M304 48c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.49 48 48zm-48 368c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zm208-208c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zM96 256c0-26.51-21.49-48-48-48S0 229.49 0 256s21.49 48 48 48 48-21.49 48-48zm12.922 99.078c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.491-48-48-48zm294.156 0c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.49-48-48-48zM108.922 60.922c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.491-48-48-48z">
      </path>
    </svg>
  </div>
  {{!-- <div class="row">
    <form id="search-form" class="col s12 m8 offset-m2 search-form">
      <div class="input-field">
        <input type="text" name="query" id="search" class="input" autocomplete="off" />
        <label for="search" class="rigth label-text">Let's find a movie for you!</label>
        <i class="material-icons prefix">search</i>
      </div>
    </form>
    <p class="col s12 center-align red-text text-darken-4 search-error__js">
      No matches found. Try again!
    </p>
  </div> --}}

  <ul id="home-gallery" class="row home-gallery-list home-gallery-list__js"></ul>

  <div class="paginator"></div>
</div>