<div class=" container">
  <div class="row">
    <form id="search-form col s12 m6">
      <div class="input-field">
        <input type="text" name="query" id="search" class="input" autocomplete="off" />
        <label for="search" class="rigth label-text">Let's find a movie for you!</label>
        <i class="material-icons prefix">search</i>
      </div>
    </form>
    <p class="center-align search-error search-error__js">
      No matches found. Try again!
    </p>
  </div>

  <div class="home-gallery">
    <ul class="home-gallery-list home-gallery-list__js" id="home-gallery"></ul>
  </div>

  <div class="paginator"></div>