<div class="container">
    <div class="col s6 l2 offset-l2">
        <form action="">
            <div class="input-field">
                <input type="text">
                <label for="text">Поиск фильма</label>
            </div>
        </form>
    <div class="gallery-section">
        <ul class="gallery-list" id="home-gallery"></ul>
    </div>
</div>
</div>


