<div class=".my-container">
    <div class="row">
    <div class="col s12 l6 offset-l2">
        <ul class="tabs">
            <li class="tab col s4"><a href="#watched" class="">WATCHED</a></li>
            <li class="tab col s4"><a href="#queue" class="">QUEUE</a></li>
            <li class="tab col s4"><a href="#favourite" class="">FAVORITE</a></li>
        </ul>
    </div>
    <div>
        <div id="watched" class="col s12">
            <p>You don't have any watched movies, add them</p>
            <ul class="library-page-gallery watched-gallery__js"></ul>
        </div>
        <div id="queue" class="col s12">
            <p>You don't have any queued movies, add them</p>
            <ul class="library-page-gallery queue-gallery__js"></ul>
        </div>
        <div id="favourite" class="col s12">
            <p>You don't have any favorite movies, add them</p>
            <ul class="library-page-gallery favorite-gallery__js"></ul>
        </div>
    </div>
     </div>
</div>