
        <div class="modal" id="details-modal">
          <div class="modal-content">
          <div class="img-wrapper">
            <img src="#" alt="#" width="#" />
          </div>
          <div class="img-description">
            <h3 class="title-film title-film__js">Title film</h3>

            <ul class="list info">
              <li>
                <span>Vote<span class="divider">/</span>Votes</span>
                <p><span class="divider">/</span></p>
              </li>
              <li>
                <span>Popularity</span>
                <p></p>
              </li>
              <li>
                <span>Original Title</span>
                <p></p>
              </li>
              <li>
                <span>Genre</span>
                <p></p>
              </li>
            </ul>
            <h3 class="title-about">ABOUT</h3>
            <p>text about film</p>
            <a href="#" class="btn orange darken-3">ADD TO WATCHED</a>
            <a href="#" class="btn orange darken-3">ADD TO QUEUE</a>
            <a href="#" class="btn orange darken-3">ADD TO FAVOURITES</a>
            <a href="#" class="btn orange darken-3">FIND A BUDDY</a>
          </div>
          </div>
        </div>
