      <div class="modal" id="details-modal">
          <div class="modal-content">
          <div class="img-wrapper">
            <img src="#" alt="#" width="#" />
          </div>
          <div class="img-description">
            <h3 class="title-film title-film__js"></h3>

            <ul class="list info">
              <li><span>Release Date</span> <p class="release-date__js"></p>
              </li>
              <li>
                <span>Vote<span class="divider">/</span>Votes</span>
                <p class="vote__js"></p><span class="divider">/</span><p class="votes__js"></p>
              </li>
              <li>
                <span>Popularity</span>
                <p class="popularity__js"></p>
              </li>
              <li>
                <span>Original Title</span>
                <p class="original-title__js"></p>
              </li>
              <li>
                <span>Genre</span>
                <p></p>
              </li>
            </ul>
            <h3 class="title-about">ABOUT</h3>
            <p class="overview__js">text about film</p>
            <a href="#" class="btn orange darken-3">ADD TO WATCHED</a>
            <a href="#" class="btn orange darken-3">ADD TO QUEUE</a>
            <a href="#" class="btn orange darken-3">ADD TO FAVOURITES</a>
            <a href="#" class="btn orange darken-3">FIND A BUDDY</a>
          </div>
          </div>
        </div>
