<div class="modal-content details-modal-content modal-content__js">
  <div class="test-drive_js"></div>
  <a href="#" class="waves-effect waves-light btn btn-fb btn-detail buddy-btn buddy-btn__js"><i
      class="material-icons icon-pozition left">person_outline</i><span>find buddy</span></a>
  <div class="row wrap-buttons">
    <a href="#" class="col s-4 waves-effect waves-light btn btn-detail watched-btn__js" data-status="add"><i
        class="material-icons icon-pozition left watched-btn-icon__js">add_circle</i><span>watched</span></a>
    <a href="#" class="col s-4 waves-effect waves-light btn btn-middle btn-detail queue-btn__js" data-status="add"><i
        class="material-icons icon-pozition left queue-btn-icon__js">add_circle</i><span>queue</span></a>
    <a href="#" class="col s-4 waves-effect waves-light btn btn-fav btn-detail btn-fav favorite-btn__js" data-status="add"><i
        class="material-icons icon-pozition left favorite-btn-icon__js">add_circle</i><span>favorite</span></a>
  </div>
</div>