 <div class="container">
        <div class="modal">
          <h2 class="title-modal">Details film"</h2>
          <div class="img-wrapper">
            <img src="#" alt="#" width="#" />
          </div>
          <div class="img-description">
            <h3 class="title-film">Title film</h3>

            <ul class="list info">
              <li>
                <span>Vote <span>/</span> Votes</span>
                <p>Vote <span>/</span> Votes</p>
              </li>
              <li>
                <span>Popularity</span>
                <p>Popularity</p>
              </li>
              <li>
                <span>Original Title</span>
                <p>Original Title</p>
              </li>
              <li>
                <span>Genre</span>
                <p>Genre</p>
                <p></p>
              </li>
            </ul>
            <h3 class="title-about">ABOUT</h3>
            <p>text about film</p>
            <button type="button">ADD TO WATCHED</button>
            <button type="button">ADD TO QUEUE</button>
            <button type="button">ADD TO FAVOURITES</button>
            <button type="button">FIND A BUDDY</button>
          </div>
        </div>
      </div>