{{#each this}}
<li>
    <div class="chip">
        <img src="https://image.tmdb.org/t/p/w342{{ backdrop_path }}" alt="{{ title }}">
        <h3 class="movie-name">{{ title }}</h3>
    </div>
</li>
{{/each}}