<div class="container footer-container">
    <span class="copyright-text">&copy; 2021 | All Rights Reserved |</span>
    <span> Developed with </span>
    <i class="material-icons heart-icon">favorite</i>
    <span>by </span>
    <a href="#Sladkie-Pirozhochki" class="modal-trigger modal-link">Sladkie Pirozhochki</a>

    {{!-- Modal markup --}}
    <div class="modal team-modal" id="Sladkie-Pirozhochki">
        <div class="modal-content">
            <h4 class="modal-header" lang="en">Sladkie Pirozhochki team</h4>
            <ul class="team-list">
                <li class="team-list-item">
                    <img class="responsive-img member-avatar"
                        src="https://avatars.githubusercontent.com/u/67143768?s=400&u=d969992a616887ba595c68fdd589af19041e47ab&v=4"
                        alt=" " width="75" height="80">
                    <h5 class="team-list-header" lang="en">Larisa</h5>
                    <p class="team-list-position" lang="en">Team Lead</p>
                    <p class="team-list-unit" lang="en">Firebase unit</p>
                    <ul class="social-icons-list">
                        <li class="social-icons-item">
                            <a href="https://www.linkedin.com/in/larisa-antsifrova-780556128/" class="social-icons-link"
                                target="_blank" rel="noopener noreferrer">
                                <i class="fa fa-linkedin fa-2x"></i>
                            </a>
                        </li>
                        <li class="social-icons-item">
                            <a href="https://github.com/Larisa-Antsifrova" class="social-icons-link " target="_blank"
                                rel="noopener noreferrer">
                                <i class="fa fa-github fa-2x"></i>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="team-list-item">
                    <img class="responsive-img member-avatar"
                        src="https://avatars.githubusercontent.com/u/67143768?s=400&u=d969992a616887ba595c68fdd589af19041e47ab&v=4"
                        alt=" " width="75" height="80">
                    <h5 class="team-list-header" lang="en">Dima</h5>
                    <p class="team-list-position" lang="en">Leading Developer</p>
                    <p class="team-list-unit" lang="en">Firebase unit</p>
                    <ul class="social-icons-list">
                        <li class="social-icons-item">
                            <a href="#" class="social-icons-link" target="_blank" rel="noopener noreferrer">
                                <i class="fa fa-linkedin fa-2x"></i>
                            </a>
                        </li>
                        <li class="social-icons-item">
                            <a href="https://github.com/kramskiy-dima" class="social-icons-link " target="_blank"
                                rel="noopener noreferrer">
                                <i class="fa fa-github fa-2x"></i>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="team-list-item">
                    <img class="responsive-img member-avatar"
                        src="https://avatars.githubusercontent.com/u/67094768?s=400&u=adf13f4f1f6b269903beca694d426c568c16a06c&v=4"
                        alt=" " width="75" height="80">
                    <h5 class="team-list-header" lang="en">Alex</h5>
                    <p class="team-list-position" lang="en">Sladkiy Pirozhochek</p>
                    <p class="team-list-unit" lang="en">API unit</p>
                    <ul class="social-icons-list">
                        <li class="social-icons-item">
                            <a href="https://www.linkedin.com/in/alex-belozertsev-b70467200/" class="social-icons-link"
                                target="_blank" rel="noopener noreferrer">
                                <i class="fa fa-linkedin fa-2x"></i>
                            </a>
                        </li>
                        <li class="social-icons-item">
                            <a href="https://github.com/AlexBelozertsev" class="social-icons-link " target="_blank"
                                rel="noopener noreferrer">
                                <i class="fa fa-github fa-2x"></i>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="team-list-item">
                    <img class="responsive-img member-avatar"
                        src="https://avatars.githubusercontent.com/u/49193046?s=400&u=e7e58270640c0233aa8d2dbbbd42003c4fa1bc54&v=4"
                        alt=" " width="75" height="80">
                    <h5 class="team-list-header" lang="en">Tetiana</h5>
                    <p class="team-list-position" lang="en">Sladkiy Pirozhochek</p>
                    <p class="team-list-unit" lang="en">API unit</p>
                    <ul class="social-icons-list">
                        <li class="social-icons-item">
                            <a href="https://www.linkedin.com/in/dr-ing-tetiana-lavrenko-8b88b139/"
                                class="social-icons-link" target="_blank" rel="noopener noreferrer">
                                <i class="fa fa-linkedin fa-2x"></i>
                            </a>
                        </li>
                        <li class="social-icons-item">
                            <a href="https://github.com/TetLaVic" class="social-icons-link " target="_blank"
                                rel="noopener noreferrer">
                                <i class="fa fa-github fa-2x"></i>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="team-list-item">
                    <img class="responsive-img member-avatar"
                        src="https://avatars.githubusercontent.com/u/67161957?s=400&u=b88a63489006b363360621fb08308d8073044d16&v=4"
                        alt=" " width="75" height="80">
                    <h5 class="team-list-header" lang="en">Anna</h5>
                    <p class="team-list-position" lang="en">Sladkiy Pirozhochek</p>
                    <p class="team-list-unit" lang="en">Design unit</p>
                    <ul class="social-icons-list">
                        <li class="social-icons-item">
                            <a href="https://www.linkedin.com/in/anna-sokolova-71244a200/" class="social-icons-link"
                                target="_blank" rel="noopener noreferrer">
                                <i class="fa fa-linkedin fa-2x"></i>
                            </a>
                        </li>
                        <li class="social-icons-item">
                            <a href="https://github.com/Anna-Sokolova" class="social-icons-link " target="_blank"
                                rel="noopener noreferrer">
                                <i class="fa fa-github fa-2x"></i>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="team-list-item">
                    <img class="responsive-img member-avatar"
                        src="https://avatars.githubusercontent.com/u/67759117?s=400&u=626b06e18b89326d90e9ed6db9d9e8a8411cbfe4&v=4"
                        alt=" " width="75" height="80">
                    <h5 class="team-list-header" lang="en">Julia</h5>
                    <p class="team-list-position" lang="en">Sladkiy Pirozhochek</p>
                    <p class="team-list-unit" lang="en">Design unit</p>
                    <ul class="social-icons-list">
                        <li class="social-icons-item">
                            <a href="#" class="social-icons-link" target="_blank" rel="noopener noreferrer">
                                <i class="fa fa-linkedin fa-2x"></i>
                            </a>
                        </li>
                        <li class="social-icons-item">
                            <a href="https://github.com/julia22-lav" class="social-icons-link " target="_blank"
                                rel="noopener noreferrer">
                                <i class="fa fa-github fa-2x"></i>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="team-list-item">
                    <img class="responsive-img member-avatar"
                        src="https://avatars.githubusercontent.com/u/67963868?s=460&u=75087709dca97270036bb33616e1b8643bdc1a60&v=4"
                        alt=" " width="75" height="80">
                    <h5 class="team-list-header" lang="en">Yaroslav</h5>
                    <p class="team-list-position" lang="en">Sladkiy Pirozhochek</p>
                    <p class="team-list-unit" lang="en">Design unit</p>
                    <ul class="social-icons-list">
                        <li class="social-icons-item">
                            <a href="https://www.linkedin.com/in/yaroslav-khazivaliev-53b9b4182/"
                                class="social-icons-link" target="_blank" rel="noopener noreferrer">
                                <i class="fa fa-linkedin fa-2x"></i>
                            </a>
                        </li>
                        <li class="social-icons-item">
                            <a href="https://github.com/arestus" class="social-icons-link " target="_blank"
                                rel="noopener noreferrer">
                                <i class="fa fa-github fa-2x"></i>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="team-list-item">
                    <img class="responsive-img member-avatar"
                        src="https://avatars.githubusercontent.com/u/68081668?s=400&u=8c0b01e1fd00a9297d8e72397552205cc4248024&v=4"
                        alt=" " width="75" height="80">
                    <h5 class="team-list-header" lang="en">Irina</h5>
                    <p class="team-list-position" lang="en">Scrum master</p>
                    <p class="team-list-unit" lang="en">Design unit</p>
                    <ul class="social-icons-list">
                        <li class="social-icons-item">
                            <a href="#" class="social-icons-link" target="_blank" rel="noopener noreferrer">
                                <i class="fa fa-linkedin fa-2x"></i>
                            </a>
                        </li>
                        <li class="social-icons-item">
                            <a href="https://github.com/Irina-Blazhevich" class="social-icons-link " target="_blank"
                                rel="noopener noreferrer">
                                <i class="fa fa-github fa-2x"></i>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</div>