<div class="page-footer my-container footer-container">
    <span class="copyright-text">&copy; 2021 | All Rights Reserved |</span>
    <span> Developed with </span>
    <i class="material-icons heart-icon">favorite</i>
    <span>by </span>
    <a href="#Sladkie-Pirozhochki" class="modal-trigger modal-link">Sladkie Pirozhochki</a>

    {{!-- Modal markup --}}
    <div class="modal" id="Sladkie-Pirozhochki">
        <a href="#!" class="modal-close">
            <i class="material-icons">cancel</i>
        </a>
        <div class="modal-content">
            <h4>Sladkie Pirozhochki team</h4>
            <p>A bunch of text</p>
        </div>
    </div>
</div>