<div class="page-footer">
    <div class="my-container">
        <span>&copy; 2021 | All Rights Reserved |</span>
        <span> Developed with </span>
        <i class="material-icons">favorite</i>
        <span>by GoIT Students</span>
    </div>

</div>
