// Styles to place footer at the bottom

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

// Media Query Ranges
$small-screen-up: 321px !default;
$medium-screen-up: 769px !default;
$large-screen-up: 1025px !default;

$small-screen: 320px !default;
$medium-screen: 768px !default;
$large-screen: 1024px !default;

$medium-and-up: 'only screen and (min-width : #{$small-screen-up})' !default;
$large-and-up: 'only screen and (min-width : #{$medium-screen-up})' !default;
$extra-large-and-up: 'only screen and (min-width : #{$large-screen-up})' !default;
$small-and-down: 'only screen and (max-width : #{$small-screen})' !default;
$medium-and-down: 'only screen and (max-width : #{$medium-screen})' !default;
$medium-only: 'only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})' !default;

.container {
  width: 100%;
  padding: 0 20px;

  margin-left: auto;
  margin-right: auto;

  outline: 2px solid tomato;

  @media screen and (min-width: 320px) {
    width: 320px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1024px) {
    width: 1024px;
  }
}

section {
  padding-top: 20px;
  padding-bottom: 40px;

  @media screen and (min-width: 767px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
