form .login-button {
  background-color: rgba(255, 107, 8, 1);
}

.or-text-span {
  display: block;
  margin-top: 14px;
}

.github-login-link:hover {
  .github-text {
    color: rgba(255, 107, 8, 1);
  }
}

.github-text {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: black;
}

[type='checkbox'].filled-in:checked + span:not(.lever):after {
  background-color: rgba(255, 107, 8, 1);
  border: 2px solid rgba(255, 107, 8, 1);
}
