.bg {
  height: 230px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../images/header-bg-main-mobile.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (max-width: 600px) and (min-device-pixel-ratio: 2),
    screen and (max-width: 600px) and (min-resolution: 192dpi),
    screen and (max-width: 600px) and (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header-bg-main-mobile@2x.jpg');
  }

  @media screen and (min-width: 992px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header-bg-main-tablet.jpg');

    @media screen and (max-width: 992px) and (min-device-pixel-ratio: 2),
      screen and (max-width: 992px) and (min-resolution: 192dpi),
      screen and (max-width: 992px) and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url('../images/header-bg-main-tablet@2x.jpg');
    }
  }
  @media screen and (min-width: 993px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header-bg-main-desktop.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url('../images/header-bg-main-desktop@2x.jpg');
    }
  }
}

.logo-title {
  font-size: 18px;
  vertical-align: top;
  justify-content: center;
}
.fa-film::before {
  margin-right: 10px;
}
.nav-wrapper {
  @media screen and (max-width: 992px) {
    text-align: center;
  }
}

nav {
  box-shadow: none;
}
// body {
//   max-width: $mobile;

//   background-image: url('../images/header-bg-main-mobile.jpg');
//   background-repeat: no-repeat;

//   @media screen and (min-device-pixel-ratio: 2),
//     screen and (min-resolution: 192dpi),
//     screen and (min-resolution: 2dppx) {
//     background-image: url('../images/header-bg-main-mobile.jpg');
//   }

//   @media screen and (min-width: $tablet) {
//     max-width: $tablet;

//     background-image: url('../images/header-bg-main-tablet.jpg');
//     // background-position: center, top;

//     @media screen and (min-device-pixel-ratio: 2),
//       screen and (min-resolution: 192dpi),
//       screen and (min-resolution: 2dppx) {
//       background-image: url('../images/header-bg-main-tablet.jpg');
//     }
//   }
//   @media screen and (min-width: $desktop) {
//     max-width: $desktop;
//     background-image: url('../images/header-bg-main-desktop.jpg');

//     @media screen and (min-device-pixel-ratio: 2),
//       screen and (min-resolution: 192dpi),
//       screen and (min-resolution: 2dppx) {
//       background-image: url('../images/header-bg-main-desktop.jpg');
//     }
//   }
// }

.item {
  position: relative;

  a {
    display: inline;
    padding: 0;
    margin-right: 15px;
    position: relative;
  }
}

.current::after {
  position: absolute;
  bottom: -3px;
  content: ' ';
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background-color: #ef6c00;
}
