.bg-home {
  height: 230px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../images/header-bg-main-mobile.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (max-width: 600px) and (min-device-pixel-ratio: 2),
    screen and (max-width: 600px) and (min-resolution: 192dpi),
    screen and (max-width: 600px) and (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header-bg-main-mobile@2x.jpg');
  }

  @media screen and (min-width: 601px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header-bg-main-tablet.jpg');

    @media screen and (max-width: 992px) and (min-device-pixel-ratio: 2),
      screen and (max-width: 992px) and (min-resolution: 192dpi),
      screen and (max-width: 992px) and (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../images/header-bg-main-tablet@2x.jpg');
    }
  }
  @media screen and (min-width: 993px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header-bg-main-desktop.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../images/header-bg-main-desktop@2x.jpg');
    }
  }
}

.bg-library {
  height: 230px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url('../images/header-bg-lib-mobile.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (max-width: 600px) and (min-device-pixel-ratio: 2),
    screen and (max-width: 600px) and (min-resolution: 192dpi),
    screen and (max-width: 600px) and (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header-bg-lib-mobile@2x.jpg');
  }

  @media screen and (min-width: 601px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header-bg-lib-tablet.jpg');

    @media screen and (max-width: 992px) and (min-device-pixel-ratio: 2),
      screen and (max-width: 992px) and (min-resolution: 192dpi),
      screen and (max-width: 992px) and (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../images/header-bg-lib-tablet@2x.jpg');
    }
  }
  @media screen and (min-width: 993px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header-bg-lib-desktop.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../images/header-bg-lib-desktop@2x.jpg');
    }
  }
}

.bg-buddies {
  height: 230px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../images/header-bg-modal-mobile.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (max-width: 600px) and (min-device-pixel-ratio: 2),
    screen and (max-width: 600px) and (min-resolution: 192dpi),
    screen and (max-width: 600px) and (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header-bg-modal-mobile@2x.jpg');
  }

  @media screen and (min-width: 601px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header-bg-modal-tablet.jpg');

    @media screen and (max-width: 992px) and (min-device-pixel-ratio: 2),
      screen and (max-width: 992px) and (min-resolution: 192dpi),
      screen and (max-width: 992px) and (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../images/header-bg-modal-tablet@2x.jpg');
    }
  }
  @media screen and (min-width: 993px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header-bg-modal-desktop.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../images/header-bg-modal-desktop@2x.jpg');
    }
  }
}

.logo-title {
  font-size: 20px;
  vertical-align: top;
  justify-content: center;

  @media screen and (min-width: 601px) {
    font-size: 25px;
  }
}

.fa-film::before {
  margin-right: 10px;
}

.fa-film {
  height: 0;
}

nav {
  background-color: transparent;
  box-shadow: none;
}

nav .sidenav-trigger {
  margin: 0;
}

.item {
  position: relative;

  a {
    display: inline;
    padding: 0;
    margin-right: 15px;
    position: relative;
  }
}

.current::after {
  position: absolute;
  bottom: -3px;
  content: ' ';
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background-color: #ef6c00;
}
.sidenav {
  height: 300px;
}

.sidenav li:first-child {
  padding-top: 20px;
}
.burger-menu {
  margin-right: 20px;
}

#signup-form .required {
  color: red;
}

.github-login-link {
  cursor: pointer;
}

.switch {
  margin: 15px 0 20px;
}

.transparent {
  height: 50px;
}

.input-field .prefix ~ input {
  margin: 0;
}

.input-field .prefix ~ label {
  margin-left: 1.5rem;
}

.tabs {
  margin-top: 40px;
}

.movies-label {
  color: #ef6c00;
}

.tv-label {
  color: #26a69a;
}

.switch label .lever {
  background-color: #ffa50059;
}

.switch label .lever:after {
  background-color: #ef6c00;
}
