.bg-home {
  height: 230px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../images/header-bg-main-mobile.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (max-width: 600px) and (min-device-pixel-ratio: 2),
    screen and (max-width: 600px) and (min-resolution: 192dpi),
    screen and (max-width: 600px) and (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header-bg-main-mobile@2x.jpg');
  }

  @media screen and (min-width: 601px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header-bg-main-tablet.jpg');

    @media screen and (max-width: 992px) and (min-device-pixel-ratio: 2),
      screen and (max-width: 992px) and (min-resolution: 192dpi),
      screen and (max-width: 992px) and (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../images/header-bg-main-tablet@2x.jpg');
    }
  }
  @media screen and (min-width: 993px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header-bg-main-desktop.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../images/header-bg-main-desktop@2x.jpg');
    }
  }
}

.bg-library {
  height: 230px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url('../images/header-bg-lib-mobile.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (max-width: 600px) and (min-device-pixel-ratio: 2),
    screen and (max-width: 600px) and (min-resolution: 192dpi),
    screen and (max-width: 600px) and (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header-bg-lib-mobile@2x.jpg');
  }

  @media screen and (min-width: 601px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header-bg-lib-tablet.jpg');

    @media screen and (max-width: 992px) and (min-device-pixel-ratio: 2),
      screen and (max-width: 992px) and (min-resolution: 192dpi),
      screen and (max-width: 992px) and (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../images/header-bg-lib-tablet@2x.jpg');
    }
  }
  @media screen and (min-width: 993px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header-bg-lib-desktop.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../images/header-bg-lib-desktop@2x.jpg');
    }
  }
}

.bg-buddies {
  height: 230px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../images/header-bg-modal-mobile.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (max-width: 600px) and (min-device-pixel-ratio: 2),
    screen and (max-width: 600px) and (min-resolution: 192dpi),
    screen and (max-width: 600px) and (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header-bg-modal-mobile@2x.jpg');
  }

  @media screen and (min-width: 601px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header-bg-modal-tablet.jpg');

    @media screen and (max-width: 992px) and (min-device-pixel-ratio: 2),
      screen and (max-width: 992px) and (min-resolution: 192dpi),
      screen and (max-width: 992px) and (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../images/header-bg-modal-tablet@2x.jpg');
    }
  }
  @media screen and (min-width: 993px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header-bg-modal-desktop.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../images/header-bg-modal-desktop@2x.jpg');
    }
  }
}

.logo-title {
  font-size: 20px;
  vertical-align: top;
  justify-content: center;

  @media screen and (min-width: 601px) {
    font-size: 25px;
  }
}

.fa-film::before {
  margin-right: 10px;
}

.fa-film {
  height: 0;
}

nav {
  box-shadow: none;
}

nav .sidenav-trigger {
  margin: 0;
}

.item {
  position: relative;

  a {
    display: inline;
    padding: 0;
    margin-right: 15px;
    position: relative;
  }
}

.current::after {
  position: absolute;
  bottom: -3px;
  content: ' ';
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background-color: #ef6c00;
}
.sidenav {
  height: 300px;
}

.sidenav li:first-child {
  padding-top: 20px;
}

form .login-button {
  background-color: rgba(255, 107, 8, 1);
}

main.light-theme {
  background-color: #fff;
  color: #333333;
}

main.dark-theme {
  background-color: #010101;
  color: #fff;
  .movie-name {
    color: #039be5;
  }
  .pagination li a {
    color: #039be5;
  }
  .dark-theme-color {
    color: #039be5;
  }
  .collection {
    border: 1px solid #039be5;
  }
  .collection-item {
    background-color: #212121;
    border-bottom: 1px solid #039be5;
  }
}
.site-footer.dark-theme {
  background-color: #212121;
  .footer-container {
    color: #039be5;
  }
}
header.dark-theme {
  background-color: #212121;
  a {
    color: #039be5;
  }
  input {
    color: #039be5;
  }
  .prefix {
    color: #039be5;
  }
  .input-field label {
    color: #039be5;
  }
  .tab a {
    color: #039be5;
    border: 1px solid #039be5;
  }
}

.account-image {
  display: inline-block;
  // height: 200px;
  // width: 200px;
  background-color: grey;
}
