table {
  // margin-top: 50px !important;
}

td {
  padding: 10px 5px !important;
}

.modal.open {
  top: 5% !important;
  max-height: 90% !important;
  z-index: 10000 !important;
}

.modal-overlay {
  opacity: 0.8 !important;
}

.border-img {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
}

.title-film {
  margin-top: 30px !important;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;

  @media screen and (min-width: 601px) {
    margin-top: 0 !important;
    font-size: 30px;
  }
}

.detailscaption {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #8c8c8c;
}

.detailsinfo {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
}

.vote-box {
  width: 36px;
  height: 16px;
  padding: 1px 10px;
  background: #ff6b01;
  color: #ffffff;
  border-radius: 5px;
}

.original-title {
  text-transform: uppercase;
}

.title-about {
  margin-top: 20px !important;
  margin-bottom: 10px !important;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #ff6b01;
}

.overview {
  margin-top: 0 !important;
  // margin-bottom: 40px;
  font-weight: 500 !important;
  font-size: 12px;
  line-height: 1.67;
}

.icon-pozition {
  margin-right: 0 !important;
}
// .img-wrapper {
//   position: relative;
// }

// .btn-floating.halfway-fab {
//   position: absolute !important;
//   left: 40px !important;
//   top: 30px !important;
// }

.btn-detail {
  width: 100% !important;
  height: 40px;
  background: #ff6b01 !important;
  border-radius: 5px;
  border: none;

  color: #ffffff;
  padding: 2px 10px !important;
  font-size: 8px !important;
  font-weight: 500;
}
.btn-detail {
  @media screen and (min-width: 360px) and (max-width: 389px) {
    font-size: 10px !important;
  }
  @media screen and (min-width: 390px) {
    font-size: 14px !important;
  }
  @media screen and (min-width: 690px) {
    font-size: 18px !important;
  }
}

.btn-detail:hover {
  background: #fc7210 !important;
  border: 1px solid rgb(187, 186, 186);
  color: black;
}

.btn-fav {
  background: #f13343 !important;
}
.btn-fav:hover {
  background: #fa1c2f !important;
}

.btn-fb {
  background: #4627f3 !important;
}
.btn-fb:hover {
  background: #3204ff !important;
}
.wrap-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: -10px;
}

.wrap-item-button {
  width: calc((100% - 4 * 10px) / 2);
  margin: 10px;
}

.wrap-item-button {
  @media screen and (min-width: 570px) {
    width: calc((100% - 4 * 30px) / 2);
  }
  @media screen and (min-width: 720px) {
    width: calc((100% - 4 * 50px) / 2);
  }
  @media screen and (min-width: 840px) {
    width: calc((100% - 4 * 60px) / 2);
  }
  @media screen and (min-width: 950px) {
    width: calc((100% - 4 * 50px) / 2);
  }
}

.modal {
  @media only screen and (max-width: 992px) {
    width: 90%;
  }
}

.modal .details-modal-content {
  padding: 24px 5px;
}
