h5 {
  margin: 0;
}

.collection a.collection-item {
  display: flex;
}

.movies-to-choose {
  margin-bottom: 50px;
}

.buddy-list-captions {
  margin: 0;
}

.buddy-name {
  font-size: 20px;
  font-weight: 700;
  color: #26a69a;
}

.contact-btn {
  margin: 0 5px 5px 0;
}

#toast-container {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  justify-content: center;
}

.buddy-list-caption {
  @media screen and (max-width: 420px) {
    font-size: 16px;
  }
}

#email-form .required {
  color: red;
}
