h5 {
  margin: 0;
}

.collection a.collection-item {
  display: flex;
}

.movies-to-choose {
  margin-bottom: 50px;
}

.buddy-list-captions {
  margin: 0;
}

.buddy-name {
  font-size: 20px;
  font-weight: 700;
  color: #26a69a;
}

.telegram-btn {
  margin-right: 5px;
}

#toast-container {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  // background-color: rgba(255, 107, 8, 0.5);
}
