.team-modal {
  background-image: linear-gradient(356deg, rgba(250, 180, 49, 0.5) 0%, rgba(245, 117, 20, 0.04525560224089631) 100%);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 450px;
  @media screen and (min-width: 1024px) {
    max-width: 800px;
  }
}

.team-modal::-webkit-scrollbar {
  width: 10px;

  &-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
  }
  &-thumb {
    background-color: #f2bf93;
    background-image: -webkit-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.25) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.25) 50%,
      rgba(255, 255, 255, 0.25) 75%,
      transparent 75%,
      transparent
    );
  }
}

.modal-close-icon {
  color: rgba(255, 107, 8, 1);
}
.modal-header {
  font-size: 24px;
  line-height: 1.166;
  text-align: center;
  color: rgba(255, 107, 8, 1);
}

.team-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}
.team-list-item {
  width: 100%;
  padding-bottom: 15px;
  padding-top: 15px;
  background: white;
  box-shadow: 0px 0px 17px 4px rgba(238, 155, 21, 0.2) inset;
  border-radius: 0px 0px 4px 4px;

  @media screen and (max-width: 767px) {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(2n) {
      margin-right: 0px;
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0px;
    }
  }

  @media screen and (min-width: 1024px) {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(4n) {
      margin-right: 0px;
    }

    &:nth-last-child(-n + 4) {
      margin-bottom: 0px;
    }
  }
}

.member-avatar {
  border-radius: 50%;
}

.team-list-header {
  margin-top: 10px;
  margin-bottom: 5px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
}

.team-list-position {
  margin-top: 0px;
  margin-bottom: 5px;

  font-size: 14px;
  line-height: 1.1875;
  text-align: center;
}

.team-list-unit {
  margin-top: 0px;
  margin-bottom: 10px;

  font-size: 13px;
  line-height: 1.1875;
  text-align: center;
}

.social-icons-list {
  display: flex;
  justify-content: center;
}

.social-icons-item:not(:last-child) {
  margin-right: 20px;
}

.fa-linkedin {
  color: rgba(255, 107, 8, 1);
}

.fa-github {
  color: rgba(255, 107, 8, 1);
}
