// li.gallery-element:not(:last-child) {
//   margin-bottom: 20px;
//   @media screen and (min-width: 768px) {
//     margin-bottom: 30px;
//   }
// }

.home-gallery-list {
  padding-top: 20px;
  padding-bottom: 40px;
  @media screen and (min-width: 601px) {
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
  }
}

.gallery-element {
  @media screen and (max-width: 600px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 601px) {
    margin: 15px;
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
  @media screen and (min-width: 993px) {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

h3.movie-name,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img.responsive-img.movie-image {
  margin-bottom: 10px;
  border-radius: 5px;
}

.movie-info {
  font-weight: bold;
}

.movie-year,
.movie-genre,
.movie-rating,
.separator {
  display: inline-block;
  font-size: 12px;
}

.movie-name {
  text-transform: uppercase;
  font-size: 12px;
  color: #000000;
  font-weight: bold;
}

.movie-year,
.movie-genre,
.separator {
  color: #ff6b08;
}

.movie-rating {
  width: 24px;
  height: 14px;
  margin-left: 10px;
  border-radius: 5px;
  background-color: #ff6b08;
  color: white;
  text-align: center;
}

.separator {
  margin-left: 3px;
  margin-right: 3px;
}
